[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
requests = "*"
simpleaudio = "*"
click = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
